body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  margin: 0;
  padding: 0;
  background-color: #272C41;
  font-family: "Arial";
}

button {
  width: 2em;
  height: auto;
  border-radius: 0px;
  font-size: 2em;
  line-height: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 15px 10px;
  border: 1px solid #ACB28A;
  background: #4B6865;
  color: #EBE0A2;
  transition: background .2s;
}

button:hover {
  background: #EBE0A2;
  color: #4B6865;
}

.counter {
  font-size: 2.75em;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #BFE3E8;
  background: #EBE0A2;
  color: #4B6865;
}